[Unit]
Description=LCD-ZMQ
After=syslog.target network.target remote-fs.target nss-lookup.target
Wants=

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/git/wisense/lcd-ssd1306/
ExecStart=/home/pi/git/wisense/lcd-ssd1306/lcd-zmq.py 6000
UMask=007
Restart=on-failure
TimeoutStartSec=30
PermissionsStartOnly=true


[Install]
WantedBy=multi-user.target
